<p style="font-weight:bold;">CHECKOUT CARGADO</p>
<h2>Checkout</h2>

@if (carrito().length === 0) {
  <p>Tu carrito está vacío.</p>
  <a routerLink="/">Ir al catálogo</a>
} @else {
  <div style="border:1px solid #ccc; border-radius:12px; padding:16px;">
    <h3>Resumen del pedido</h3>

    @for (item of carrito(); track item.producto.id) {
      <p>
        {{ item.producto.nombre }} -
        {{ item.producto.precio | currency:'MXN' }} x {{ item.cantidad }}
      </p>
    }

    <hr>
    <p><strong>Total: {{ total() | currency:'MXN' }}</strong></p>

    <div #paypalButtonContainer></div>

    <p>{{ mensaje }}</p>
  </div>
}